*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background: url("./img/background.png");
    font-family: 'Poppins', sans-serif;
}

.container{
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task{
    border: 0;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    padding-left: 10px;
}

.btn-add{
    background-color: #003329;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    font-weight: 700;
}

.btn-add:hover{
    opacity: 0.8;
}

.btn-add:active{
    opacity: 0.6;
}

.list-tasks{
    list-style: none;
    width: 100%;
    margin-top: 30px;
}

.task{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin: 10px 20px;
    cursor: pointer;
}

img{
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img{
    opacity: 1;
}

.done{
    background-color: #8fac55;
    text-decoration: line-through;
}
@media(max-width:500px){
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input-task{
        width: 80%;
        margin: 0 0 20px 0;
    }
}